In [1]:
import pandas as pd
import numpy as np
import pickle

In [3]:
books = pd.read_csv("data/Books.csv")
books.head()

C:\Users\thaku\AppData\Local\Temp\ipykernel_8964\1408350924.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(BOOK_DATA_PATH)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books['Image-URL-L'].iloc[0]

'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
required_columns = ['ISBN', 'Book-Title', 'Book-Author', \
                    'Year-Of-Publication', 'Publisher', 'Image-URL-L']

In [9]:
df = books[required_columns]
df.rename({'Book-Title':'TITLE', 'Book-Author':'AUTHOR', 'Year-Of-Publication':'YEAR',
    'Publisher':'PUBLISHER', 'Image-URL-L':'IMAGE'}, axis=1, inplace=True)
df.head(1)

C:\Users\thaku\AppData\Local\Temp\ipykernel_8964\4191785456.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename({'Book-Title':'TITLE', 'Book-Author':'AUTHOR', 'Year-Of-Publication':'YEAR',

,ISBN,TITLE,AUTHOR,YEAR,PUBLISHER,IMAGE
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...

In [11]:
## Filtering out only those books which are in isbn index
isbn_index = pickle.load(open('isbn_index.pkl', 'rb'))

In [13]:
final_df = df[df['ISBN'].isin(isbn_index)]
final_df.shape

(17478, 6)

In [14]:
final_df.to_csv('book_data.csv', index=False)

In [15]:
## we have seperate isbn_index and filter
## Now merget both of them in one.
filter = pickle.load(open('filter.pkl', 'rb'))

In [ ]:
filter_new = []
for row in filter:
    filter_new.append([isbn_index[ind] for ind in row])
filter_new

In [20]:
pickle.dump(filter_new, open('new_filter.pkl', 'wb'))

In [26]:
## Now mapping each isbn with their filters through dictionary
final_filter = {}
for ind, isbn in enumerate(isbn_index):
    final_filter[isbn] = filter_new[ind]

In [28]:
pickle.dump(final_filter, open('final_filter.pkl', 'wb'))