In [1]:
import pandas as pd
import numpy as np

In [2]:
## Importing books data
books = pd.read_csv('data/Books.csv')
books.head()

C:\Users\thaku\AppData\Local\Temp\ipykernel_3672\3356314812.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
books.shape

(271360, 8)

In [4]:
## Now importing Ratings data
ratings = pd.read_csv('data/Ratings.csv')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
merged_df = books.merge(ratings, on='ISBN')
merged_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [7]:
## Trying to do Colaborative filtering
## Recommed the similar person same kind of books
## Required columns:
required_columns = ['ISBN', 'User-ID', 'Book-Rating']
df = merged_df[required_columns]
df.head(10)

         ISBN  User-ID  Book-Rating
0  0195153448        2            0
1  0002005018        8            5
2  0002005018    11400            0
3  0002005018    11676            8
4  0002005018    41385            0
5  0002005018    67544            8
6  0002005018    85526            0
7  0002005018    96054            0
8  0002005018   116866            9
9  0002005018   123629            9

In [8]:
df.shape

(1031136, 3)

In [9]:
df.rename({'User-ID':'user', 'Book-Rating':'rating', 'ISBN':'isbn'}, axis=1, inplace=True)

C:\Users\thaku\AppData\Local\Temp\ipykernel_3672\552090084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename({'User-ID':'user', 'Book-Rating':'rating', 'ISBN':'isbn'}, axis=1, inplace=True)

In [10]:
df.head(1)

         isbn  user  rating
0  0195153448     2       0

In [76]:
df.shape

(1031136, 3)

In [16]:
## Filter out the trusted user like how usualy read books and rate accurately
user_rated = df['user'].value_counts()
user_rated[:10]

11676     11144
198711     6456
153662     5814
98391      5779
35859      5646
212898     4289
278418     3996
76352      3329
110973     2971
235105     2943
Name: user, dtype: int64

In [78]:
# Total user rated
user_rated.shape

(92106,)

In [89]:
## Top 10 user who have reated most of the books

## Checking no of user who have rated less than x books
for i in np.arange(10, 51, 10):
    less_user = (user_rated < i).sum()
    print(f"Less than {i} books: {less_user} <=> Left: {user_rated.shape[0]-less_user}")

Less than 10 books: 80360 <=> Left: 11746
Less than 20 books: 85469 <=> Left: 6637
Less than 30 books: 87360 <=> Left: 4746
Less than 40 books: 88356 <=> Left: 3750
Less than 50 books: 89048 <=> Left: 3058

In [90]:
## so taking all user which have rated books more than or equal to 10 books
selected_user = user_rated.index[(user_rated >= 10).values]
selected_user.shape

(11746,)

In [92]:
## Now filtering the data from selected user
user_filtered_df = df[df.user.isin(selected_user)]
user_filtered_df.shape

(868933, 3)

In [93]:
## Now filter those books which have been rated more times
books_rated = df['isbn'].value_counts()
books_rated[:10]

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
044023722X     647
0142001740     615
067976402X     614
0671027360     586
0446672211     585
Name: isbn, dtype: int64

In [94]:
## Total books
books_rated.shape

(270151,)

In [95]:
## Checking the no of books not rated per 10 rating
for num in np.arange(0, 101, 10):
    less_rated = (books_rated < num).sum()
    print(f"For {num}: {less_rated}  <=>  Left: {books_rated.shape[0] - less_rated}")

For 0: 0  <=>  Left: 270151
For 10: 252672  <=>  Left: 17479
For 20: 262882  <=>  Left: 7269
For 30: 265853  <=>  Left: 4298
For 40: 267236  <=>  Left: 2915
For 50: 267990  <=>  Left: 2161
For 60: 268491  <=>  Left: 1660
For 70: 268859  <=>  Left: 1292
For 80: 269107  <=>  Left: 1044
For 90: 269278  <=>  Left: 873
For 100: 269424  <=>  Left: 727

In [96]:
## There are 17479 books rated greater or 10
## Considering all the books having rated more than or 10
selected_books = books_rated.index[books_rated >= 10]
selected_books.shape

(17479,)

In [97]:
## Filtering out the final df
final_df = user_filtered_df[user_filtered_df.isbn.isin(selected_books)]
final_df.shape

(428085, 3)

In [98]:
## Now save this data
final_df.to_csv("collaborative_data.csv", index=False)